*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --twitter-color : rgb(3, 150, 248);   
}

.app{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
    /* max-width: 1300px;
    margin: auto; */
}
